GROQ_API_KEY=your_groq_api_key_here
MONGO_URI="mongodb://pj7389780_db_user:paras%400212@ac-yq1balc-shard-00-00.q3f6nqu.mongodb.net:27017,ac-yq1balc-shard-00-01.q3f6nqu.mongodb.net:27017,ac-yq1balc-shard-00-02.q3f6nqu.mongodb.net:27017/?ssl=true&replicaSet=atlas-129gkg-shard-0&authSource=admin&appName=placement-cluster"